@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url(theme/fonts/Roboto-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'RobotoBlack';
  src: local('RobotoBlack'), url(theme/fonts/Roboto-Black.ttf) format('truetype');
}

@font-face {
  font-family: 'RobotoBold';
  src: local('RobotoBold'), url(theme/fonts/Roboto-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'RobotoMedium';
  src: local('RobotoMedium'), url(theme/fonts/Roboto-Medium.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
